.page__all-link {
  text-underline-offset: 4px;
  text-decoration-thickness: from-font;
}

.page__all-link-active {
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  font-size: 18px;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  height: 105px;
  width: 135px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3em;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 757px;
  padding: 165px 50px 50px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  z-index: 50;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 105px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  z-index: 50;
}

.bet-button {
  height: 50px;
  width: 255px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  background: transparent;
  border-color: white;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  margin-left: 64px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  list-style: none;
  padding: 26px 24px 31px;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}
.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}
.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  font-size: 22px;
  z-index: 50;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  z-index: 50;
}

.lots__look-more-link {
  margin-left: 64px;
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 382px 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 118px;
}

.about__logo {
  padding: 37px;
  align-self: start;
}

.about__logo-background {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 146px;
}

.about__column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.about__title {
  margin-top: 137px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

.about__text {
  margin-top: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 20px;
  gap: 22px;
  padding-right: 30px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 396px 1fr;
  justify-items: center;
  align-items: start;
  margin: 185px 0 83px;
}

.footer__address {
  max-width: 250px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  list-style: none;
  width: 250px;
  gap: 45px;
}

.footer__social-icon {
  width: 49px;
  height: auto;
}
